<h2>{{ 'SitesManager_TrackingTags'|translate(displaySiteName) }}</h2>

<div class='trackingHelp'>
    <p>{{ 'Installation_JSTracking_Intro'|translate }}</p>

    <p>{{ 'CoreAdminHome_JSTrackingIntro3'|translate('<a href="http://piwik.org/integrate/" rel="noreferrer" target="_blank">','</a>')|raw }}</p>

    <h3>{{ 'General_JsTrackingTag'|translate }}</h3>

    <p>{{ 'CoreAdminHome_JSTracking_CodeNote'|translate("&lt;/body&gt;")|raw }}</p>

<script>
// SANDSTORM EDIT: use offer template to render HTML to copy
sandstormTemplate = "{{ jsTag|e('js') }}";
console.log(sandstormTemplate);
var sandstormRequests = [];

function onMessageSandstorm(event) {
  console.log("got message: ");
  console.log(event);
  var data = event.data;
  if (! data.hasOwnProperty("rpcId")) {
    console.log("message did not contain an rpcId, ignoring");
    return;
  }
  var handled = false;
  for (var idx = 0 ; idx < sandstormRequests.length ; idx++) {
    if (sandstormRequests[idx].rpcId == data.rpcId) {
      // RPC id was valid.  Remove it from the list of half-finished RPCs...
      thisRequest = sandstormRequests[idx];
      handled = true;
      sandstormRequests.splice(idx, 1);

      console.log("got valid rpc reply: ");
      console.log(data);
      var tag = document.getElementById("embedme");
      tag.src = data.uri;
      // Guess at appropriate height of iframe based on number of newlines in template text.
      var lineCount = (thisRequest.templateText.match(/\n/g) || []).length;
      tag.style.height = String(15 * lineCount) + "px";
      break;
    }
  }
  if (!handled) {
    console.log("Got unexpected rpcId: " + data.rpcId);
  }
}

function requestOfferTemplate() {
  var rpcId = "rpc";
  sandstormRequests.push({rpcId: rpcId, templateText: sandstormTemplate});
  window.parent.postMessage({
      renderTemplate: {
        rpcId: rpcId,
        template: sandstormTemplate,
        petname: "Piwik tracker site-embedded API key"
      }
    },
    "*"
  );
}

window.addEventListener("message", onMessageSandstorm, false);
requestOfferTemplate();
</script>
    <iframe id="embedme" src="" style="border 0; width: 100%; height: 240px;" ></iframe>

    <p>{{ 'CoreAdminHome_JSTrackingIntro5'|translate('<a rel="noreferrer" target="_blank" href="http://piwik.org/docs/javascript-tracking/">','</a>')|raw }}</p>

    <p>{{ 'Installation_JSTracking_EndNote'|translate('<em>','</em>')|raw }}</p>
</div>
